@CHARSET "UTF-8";

.carousel-item img {
	height: 250px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
	height: 100px;
	width: 100px;
	outline: black;
	background-size: 100%, 100%;
	border-radius: 50%;
	background-image: none;
}

.carousel-control-next-icon:after {
	content: '>';
	font-size: 55px;
	color: black;
}

.carousel-control-prev-icon:after {
	content: '<';
	font-size: 55px;
	color: black;
}

#text {
	color: yellow;
	font-family: monospace;
	font-size: 27px;
	font-weight: bold;
}

.center {
	text-align: center;
}

td, th {
	border: 1px solid #cccccc;
	padding: 8px;
}

th {
	font-weight: bold;
	text-transform: uppercase;
}

table {
	border-collapse: collapse;
	width: 100%;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

tr:hover {
	background-color: black;
	color: white;
}

#tooltip {
	position: absolute;
	left: 145px;
	top: -223px;
	background: inherit;
	border-radius: 7px;
	font-family: monospace;
	text-align: justify;
	margin: 0px;
	padding: 5px;
	visibility: hidden;
	width: 231%;
}

#tooltip:before {
	content: '◄';
	font-size: 40px;
	position: absolute;
	top: 212.5px;
	left: -20.5px;
	margin: 0px;
	padding: 0px;
	color: #292b2c;
}

#button-tooltip:hover #tooltip {
	visibility: visible;
}